# Intermediate Scraping Homework: Wikipedia Table

In this assignment, we'll be extracting data from Wikipedia's table of the tallest buildings in Brooklyn: https://en.wikipedia.org/wiki/List_of_tallest_buildings_in_Brooklyn

### 0) Setup

Import `requests`, `BeautifulSoup`, and `pandas`. Although this homework uses `BeautifulSoup`, you can choose to use `lxml` instead, if you prefer.

In [154]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

### 1) Grab the HTML for the webpage linked above

Use `requests` to get the HTML, assigning it to a variable

In [155]:
http_response = requests.get("https://en.wikipedia.org/wiki/List_of_tallest_buildings_in_Brooklyn")

# store the HTML of the page in a variable
html = http_response.text

### 2) Convert the HTML into a `BeautifulSoup` object

In [156]:
# convert the HTML to DOM representation using BeautifulSoup
soup = BeautifulSoup(html)

### 3) Use `.select(...)` (and `[0]`) to select the main table

That's the one directly under the "Tallest buildings" heading.

Print out the first 100 characters of text from the table to make sure you have the right one.

In [157]:
# find the first table in the HTML
table = soup.select("table")[0]
print(table.text[:100])

# or find the first table with the class "wikitable"
# table = soup.select(".wikitable")[0]
# print(table.text[:100])

Rank

Name[a]

Image

Heightft (m)

Floors

Year completed

Notes


1

The Brooklyn Tower



1,066

### 4) Use `.select(...)` (and `[0]`) again to select the table's first row

... which is its header. (Reminder that the `<thead>` tag is optional. Wikipedia tables don't use it.)

In [158]:
first_row = table.select("tr")[0]
print(first_row.text)

Rank

Name[a]

Image

Heightft (m)

Floors

Year completed

Notes

### 5) Extract the column names from that header

Use `.strip()` to remove any leading or trailing whitespace from the names.

First, try doing this with a standard `for` loop:

In [159]:
column_names = []

for th in first_row.select("th"):
    column_names.append(th.text.strip())

print(column_names)

['Rank', 'Name[a]', 'Image', 'Heightft (m)', 'Floors', 'Year completed', 'Notes']

Try to do the same, but with a list comprehension:

In [160]:
column_names = [th.text.strip() for th in first_row.select("th")]
print(column_names)

['Rank', 'Name[a]', 'Image', 'Heightft (m)', 'Floors', 'Year completed', 'Notes']

### 6) Select all non-header row *elements* from the table

Since the header was the first row, you'll want to skip that one. How many rows are there? (Check with your eyes that this number matches what you deduce from the rankings column in the browser-rendered table.)

In [161]:
### 6) Select all non-header row *elements* from the table
row_not_header = table.select("tr")[1:]
print(len(row_not_header))

80

### 7) For each row, extract the text of each cell into a Python list

First, try this as two nested `for` loops:

In [162]:
cell_textes = []
for row in row_not_header:
    cell_texts = []
    for cell in row.select("td"):
        cell_texts.append(cell.text.strip())
    cell_textes.append(cell_texts)
print(cell_textes)

[['1', 'The Brooklyn Tower', '', '1,066 (325)', '93', '2022', 'Topped out in October 2021.[2][23][24][25]'], ['2', 'Brooklyn Point', '', '720 (219)', '68', '2019', "The final phase of Extell's City Point development; topped out in April 2019, it is now the second tallest building in Brooklyn.[26] Also known as 138 Willoughby Street,[27][28] 1 City Point,[29] and City Point Tower III.[29][30][31]"], ['3', '11 Hoyt', '', '626 (191)', '51', '2020', "Topped out in June 2019.[32] A redevelopment of Macy's former footprint in Downtown Brooklyn, with a design seemingly inspired by 8 Spruce Street.[33][34]"], ['4', 'The Hub', '', '611 (186)', '52', '2017', 'Also known as 333 Schermerhorn Street. Topped out on December 16, 2015.[35][36][37][38][39]'], ['5', '98 Dekalb Avenue', 'Upload image', '610 (186)', '49', '2025', 'Topped out in June 2024.[40][41]'], ['6', 'AVA DoBro', '', '596 (182)', '58', '2015', 'Also known as 100 Willoughby Street, Avalon Willoughby Square, and 214 Duffield Street.[42][43][44]'], ['7', '388 Bridge Street', '', '590 (180)', '51', '2014', '[42][45][46]'], ['8', '589 Fulton Street', '', '575 (175)', '51', '2025', 'Topped out in June 2024.[47][48]'], ['9', '346 Kent Avenue Tower I', 'Upload image', '574 (175)', '57', '2024', 'Topped out in December 2023.[49][50][51][52]'], ['10', '590 Fulton Street', '', '568 (173)', '52', '2016', 'Also known as 250 Ashland Place and Gotham BAM Tower[53][54][55]'], ['11', '18 Sixth Avenue', '', '532 (162)', '49', '2022', 'Also known as the Pacific Park B4 Tower.[56][57][58]'], ['12', 'City Tower', '', '515 (157)', '46', '2016', 'Also known as City Point Tower II,[59] 10 City Point, and 336 Flatbush Avenue Extension[60]'], ['13', 'The Brooklyner', '', '514 (157)', '51', '2010', 'Tallest high-rise building in Brooklyn between 2009 and 2013.[3][4][61][62]'], ['14', 'Williamsburgh Savings Bank Tower', '', '512 (156)', '42', '1929', 'Tallest high-rise building in Brooklyn between 1929 and 2009. Also known as One Hanson Place.[5][63]'], ['15', '540 Fulton Street', '', '511 (156)', '43', '2020', 'Topped out in 2019.[64][65]'], ['16', '625 Fulton Street', 'Upload image', '500 (152)', '35', '2024', 'Topped out in December 2023.[66][67]'], ['17', 'One Willoughby Square', '', '495 (151)', '34', '2021', "Originally planned as a 65-story residential development, the building is now under construction as a 34-story commercial and office space.[68] Topped out in October 2019, and is Brooklyn's tallest office building.[69]"], ['18', '66 Rockwell Place', '', '489 (149)', '44', '2014', '[70][71]'], ['19', 'The Alloy Block - Phase One (100 Flatbush)', 'Upload image', '482 (147)', '44', '2023', 'Topped out in January 2023.[72][73]'], ['20', '12 Metrotech Center', '', '473 (144)', '32', '2005', 'Also known as the Kings County Supreme and Family Courthouse.[74][75]'], ['21', '346 Kent Avenue Tower II', 'Upload image', '472 (144)', '39', '2024', 'Topped out in December 2023.[76]'], ['22', 'Montague–Court Building', '', '462 (141)', '35', '1927', 'Tallest high-rise building in Brooklyn between 1927 and 1929. Also known as 16 Court Street.[17][77]'], ['23', '15 Hanover Place', 'Upload image', '463 (141)', '34', '2024', '[78][79]'], ['24', 'Calyer Place Tower I', 'Upload image', '439 (134)', '40', '2022', '[80][81]'], ['25', 'One South First', '', '435 (133)', '42', '2019', 'Topped out in 2019. The building contains 330 residential units, and 150,000 square feet of office space. [82] The skyscraper is the second structure to be developed as part of the Domino Sugar Factory redevelopment plan.[83][84]'], ['26', '196 Willoughby Street', '', '435 (133)', '34', '2020', '[85]'], ['27', 'Oro', '', '432 (132)', '40', '2008', '[86][87]'], ['28', 'Toren', '', '427 (130)', '37', '2009', '[88][89]'], ['29', 'The Amberly', '', '425 (130)', '33', '2017', 'Also known as 120 Nassau Street[1][90][91]'], ['30', '1 Metrotech Center', '', '412 (126)', '23', '1992', '[92][93]'], ['31', '664 Pacific Street', '', '412 (126)', '26', '2020', 'Alternately addressed as 37 Sixth Avenue or 495 Dean Street.[94][95]'], ['32', '1 Clinton Street', '', '409 (125)', '38', '2019', 'Also known as 280 Cadman Plaza West. Will replace a branch of the Brooklyn Public Library. Topped out in March 2019.[96][97][98]'], ['33', 'DKLB BKLN', '', '405 (123)', '34', '2010', 'Also known as 80 DeKalb Avenue.[99][100]'], ['34', '87 Commercial Street', 'Upload image', '402 (123)', '40', '2022', '[101][102][103]'], ['35 =', '16 DuPont Street', 'Upload image', '400 (122)', '40', '2024', 'Topped out in January 2024.[104][105][106]'], ['36 =', 'One Pierrepont Plaza', '', '400 (122)', '21', '1988', '[107]'], ['36 =', 'BKLYN AIR', '', '400 (122)', '39', '2014', 'Also known as Oro 2 Condominium.[108][109][110][111]'], ['36 =', '41 Blue Slip', '', '400 (122)', '40', '2020', 'Topped out in May 2019.[112][113][114]'], ['36 =', 'Greenpoint Block D 40 Story Tower', '', '400 (122)', '40', '2022', 'Informally known as the Tetris buildings.[115][116] Alternately addressed as 221 West Street. Topped-out in April 2021.[117]'], ['36 =', '30 Front Street', 'Upload image', '400 (122)', '26', '2022', 'Topped out in August 2021.[118][119]'], ['41 =', 'Brooklyn Renaissance Plaza', '', '398 (121)', '32', '1998', 'Also known as the New York Marriott at the Brooklyn Bridge.[120][121]'], ['41 =', '1 North 4th Place', '', '398 (121)', '41', '2014', 'Also known as Three Northside Piers, 1N4th, and One North Fourth.[122][123]'], ['41 =', '2 North 6th Place', 'Upload image', '398 (121)', '40', '2016', '[124]'], ['44', '4 Metrotech Center', '', '394 (120)', '25', '1993', 'Part of the MetroTech Center development[125][126]'], ['45', 'Avalon Fort Greene', '', '393 (120)', '42', '2010', '[127][128]'], ['46', 'The Greenpoint*', '', '392 (119)', '39', '2018', 'Also known as 10 Huron and 21 India Street[129][130]'], ['47', "Jehovah's Witnesses Dormitory", '', '378 (115)', '30', '1995', '[131][132]'], ['48', '1 Bell Slip', 'Upload image', '369 (112)', '31', '2022', '[133][134]'], ['49', '300 Ashland', '', '364 (111)', '32', '2016', 'Also known as Brooklyn Academy of Music South (BAM South) and 286 Ashland Place.[135]'], ['50', '7 DeKalb Avenue', '', '361 (110)', '27', '2016', 'Also known as City Point Tower I[136] and 70 Fleet Street.[137]'], ['51', '141 Willoughby Street', '', '360 (110)', '24', '2022', 'Topped out in November 2021.[138] Former site of the Institute of Design and Construction.[139][140]'], ['52', '2230 Cropsey Avenue', '', '356 (109)', '30', '2023', 'Topped out in February 2023. Also known as The Shoreline.[141][142]'], ['53', 'Court and Remsen Building', '', '350 (107)', '27', '1926', 'Tallest high-rise building in Brooklyn between 1922 and 1926. Also known as the Chamber of Commerce Building.[12][143][144]'], ['54', 'BellTel Lofts', '', '348 (106)', '25', '1931', 'Also known as the New York Telephone Company Building and 101 Willoughby Street.[145][146]'], ['55', '461 Dean Street', '', '347 (106)', '32', '2016', 'Also known as B2 BKLYN.[147]'], ['56', '86 Fleet Place', '', '346 (105)', '32', '2017', '[148]'], ['57', '75 Livingston Street', '', '343 (105)', '30', '1926', 'Also known as the Brooklyn Chamber of Commerce and Court Chambers Building.[149][150][151]'], ['58', 'Tivoli Towers', '', '341 (104)', '33', '1974', '[152][153]'], ['59', '37 Blue Slip', '', '340 (104)', '30', '2018', 'Also known as One Blue Slip.[154][155]'], ['60', 'J Condominium', '', '337 (103)', '31', '2007', 'Also known as J Condo.[156][157]'], ['61', '200 Cadman Plaza', '', '333 (101)', '33', '1973', '[158]'], ['62', 'Archstone Brooklyn Heights', '', '331 (101)', '33', '2000', 'Also known as 180 Montague Street.[159]'], ['63', 'Two Northside Piers', '', '329 (100)', '30', '2009', '[160]'], ['64', '15 Metrotech Center', '', '325 (99)', '21', '2003', 'Also known as the Empire Blue Cross Blue Shield Headquarters.[161][162]'], ['65', '1524 Sheepshead Bay Road', '', '321 (98)', '28', '2018', 'Also known as 1 Brooklyn Bay, Avalon Brooklyn Bay, and 1501 Voorhies Avenue.[163][164]'], ['66', '123 Linden Boulevard', 'Upload image', '320 (98)', '26', '2020', '[165]'], ['67 =', 'St. George Towers', '', '315 (96)', '30', '1930', 'Also known as the St. George Hotel.[166][167]'], ['67 =', 'Quay Tower', 'Upload image', '315 (96)', '28', '2018', 'Also known as 50 Bridge Park Drive.[168]'], ['67 =', '550 Clinton Avenue', 'Upload image', '312 (95)', '29', '2021', '[169][170]'], ['70 =', 'Atlantic Terminal Houses 1', '', '310 (94)', '31', '1976', 'Also known as Atlantic Terminal Site 4B and 487 Carlton Avenue.[171][172]'], ['70 =', '436 Albee Square', '', '310 (94)', '28', '2017', '[173]'], ['72', '77 Commercial Street', 'Upload image', '306 (93)', '30', '2022', '[102][103][101]'], ['73', '111 Livingston Street', '', '301 (92)', '23', '1971', '[174][175]'], ['74', 'Greenpoint Block D 30 Story Tower', '', '300 (91)', '30', '2022', 'Informally known as the Tetris buildings. Alternately addressed as 221 West Street. Topped-out in April 2021.[115][116][117]'], ['75', 'The Edge – South Tower', '', '298 (91)', '30', '2009', 'Also known as The Edge I.[176][177]'], ['76', '595 Dean Street', 'Upload image', '298 (91)', '27', '2022', 'Topped out in February 2022.[178][179]'], ['77 =', 'Beacon Tower', '', '297 (91)', '23', '2007', '[180][181]'], ['77 =', 'One Northside Piers', '', '297 (91)', '29', '2008', '[182][183]'], ['77 =', '101 Clark Street', 'Upload image', '295 (90)', '30', '1973', '[184][185]'], ['77 =', '240 Willoughby Street', 'Upload image', '295 (90)', '30', '2023', 'Topped out.[186][187]']]

Try the same, but with two list comprehensions (one nested in the other):

In [163]:
cell_textes = [[cell.text.strip() for cell in row.select("td")] for row in row_not_header]
print(cell_textes)

[['1', 'The Brooklyn Tower', '', '1,066 (325)', '93', '2022', 'Topped out in October 2021.[2][23][24][25]'], ['2', 'Brooklyn Point', '', '720 (219)', '68', '2019', "The final phase of Extell's City Point development; topped out in April 2019, it is now the second tallest building in Brooklyn.[26] Also known as 138 Willoughby Street,[27][28] 1 City Point,[29] and City Point Tower III.[29][30][31]"], ['3', '11 Hoyt', '', '626 (191)', '51', '2020', "Topped out in June 2019.[32] A redevelopment of Macy's former footprint in Downtown Brooklyn, with a design seemingly inspired by 8 Spruce Street.[33][34]"], ['4', 'The Hub', '', '611 (186)', '52', '2017', 'Also known as 333 Schermerhorn Street. Topped out on December 16, 2015.[35][36][37][38][39]'], ['5', '98 Dekalb Avenue', 'Upload image', '610 (186)', '49', '2025', 'Topped out in June 2024.[40][41]'], ['6', 'AVA DoBro', '', '596 (182)', '58', '2015', 'Also known as 100 Willoughby Street, Avalon Willoughby Square, and 214 Duffield Street.[42][43][44]'], ['7', '388 Bridge Street', '', '590 (180)', '51', '2014', '[42][45][46]'], ['8', '589 Fulton Street', '', '575 (175)', '51', '2025', 'Topped out in June 2024.[47][48]'], ['9', '346 Kent Avenue Tower I', 'Upload image', '574 (175)', '57', '2024', 'Topped out in December 2023.[49][50][51][52]'], ['10', '590 Fulton Street', '', '568 (173)', '52', '2016', 'Also known as 250 Ashland Place and Gotham BAM Tower[53][54][55]'], ['11', '18 Sixth Avenue', '', '532 (162)', '49', '2022', 'Also known as the Pacific Park B4 Tower.[56][57][58]'], ['12', 'City Tower', '', '515 (157)', '46', '2016', 'Also known as City Point Tower II,[59] 10 City Point, and 336 Flatbush Avenue Extension[60]'], ['13', 'The Brooklyner', '', '514 (157)', '51', '2010', 'Tallest high-rise building in Brooklyn between 2009 and 2013.[3][4][61][62]'], ['14', 'Williamsburgh Savings Bank Tower', '', '512 (156)', '42', '1929', 'Tallest high-rise building in Brooklyn between 1929 and 2009. Also known as One Hanson Place.[5][63]'], ['15', '540 Fulton Street', '', '511 (156)', '43', '2020', 'Topped out in 2019.[64][65]'], ['16', '625 Fulton Street', 'Upload image', '500 (152)', '35', '2024', 'Topped out in December 2023.[66][67]'], ['17', 'One Willoughby Square', '', '495 (151)', '34', '2021', "Originally planned as a 65-story residential development, the building is now under construction as a 34-story commercial and office space.[68] Topped out in October 2019, and is Brooklyn's tallest office building.[69]"], ['18', '66 Rockwell Place', '', '489 (149)', '44', '2014', '[70][71]'], ['19', 'The Alloy Block - Phase One (100 Flatbush)', 'Upload image', '482 (147)', '44', '2023', 'Topped out in January 2023.[72][73]'], ['20', '12 Metrotech Center', '', '473 (144)', '32', '2005', 'Also known as the Kings County Supreme and Family Courthouse.[74][75]'], ['21', '346 Kent Avenue Tower II', 'Upload image', '472 (144)', '39', '2024', 'Topped out in December 2023.[76]'], ['22', 'Montague–Court Building', '', '462 (141)', '35', '1927', 'Tallest high-rise building in Brooklyn between 1927 and 1929. Also known as 16 Court Street.[17][77]'], ['23', '15 Hanover Place', 'Upload image', '463 (141)', '34', '2024', '[78][79]'], ['24', 'Calyer Place Tower I', 'Upload image', '439 (134)', '40', '2022', '[80][81]'], ['25', 'One South First', '', '435 (133)', '42', '2019', 'Topped out in 2019. The building contains 330 residential units, and 150,000 square feet of office space. [82] The skyscraper is the second structure to be developed as part of the Domino Sugar Factory redevelopment plan.[83][84]'], ['26', '196 Willoughby Street', '', '435 (133)', '34', '2020', '[85]'], ['27', 'Oro', '', '432 (132)', '40', '2008', '[86][87]'], ['28', 'Toren', '', '427 (130)', '37', '2009', '[88][89]'], ['29', 'The Amberly', '', '425 (130)', '33', '2017', 'Also known as 120 Nassau Street[1][90][91]'], ['30', '1 Metrotech Center', '', '412 (126)', '23', '1992', '[92][93]'], ['31', '664 Pacific Street', '', '412 (126)', '26', '2020', 'Alternately addressed as 37 Sixth Avenue or 495 Dean Street.[94][95]'], ['32', '1 Clinton Street', '', '409 (125)', '38', '2019', 'Also known as 280 Cadman Plaza West. Will replace a branch of the Brooklyn Public Library. Topped out in March 2019.[96][97][98]'], ['33', 'DKLB BKLN', '', '405 (123)', '34', '2010', 'Also known as 80 DeKalb Avenue.[99][100]'], ['34', '87 Commercial Street', 'Upload image', '402 (123)', '40', '2022', '[101][102][103]'], ['35 =', '16 DuPont Street', 'Upload image', '400 (122)', '40', '2024', 'Topped out in January 2024.[104][105][106]'], ['36 =', 'One Pierrepont Plaza', '', '400 (122)', '21', '1988', '[107]'], ['36 =', 'BKLYN AIR', '', '400 (122)', '39', '2014', 'Also known as Oro 2 Condominium.[108][109][110][111]'], ['36 =', '41 Blue Slip', '', '400 (122)', '40', '2020', 'Topped out in May 2019.[112][113][114]'], ['36 =', 'Greenpoint Block D 40 Story Tower', '', '400 (122)', '40', '2022', 'Informally known as the Tetris buildings.[115][116] Alternately addressed as 221 West Street. Topped-out in April 2021.[117]'], ['36 =', '30 Front Street', 'Upload image', '400 (122)', '26', '2022', 'Topped out in August 2021.[118][119]'], ['41 =', 'Brooklyn Renaissance Plaza', '', '398 (121)', '32', '1998', 'Also known as the New York Marriott at the Brooklyn Bridge.[120][121]'], ['41 =', '1 North 4th Place', '', '398 (121)', '41', '2014', 'Also known as Three Northside Piers, 1N4th, and One North Fourth.[122][123]'], ['41 =', '2 North 6th Place', 'Upload image', '398 (121)', '40', '2016', '[124]'], ['44', '4 Metrotech Center', '', '394 (120)', '25', '1993', 'Part of the MetroTech Center development[125][126]'], ['45', 'Avalon Fort Greene', '', '393 (120)', '42', '2010', '[127][128]'], ['46', 'The Greenpoint*', '', '392 (119)', '39', '2018', 'Also known as 10 Huron and 21 India Street[129][130]'], ['47', "Jehovah's Witnesses Dormitory", '', '378 (115)', '30', '1995', '[131][132]'], ['48', '1 Bell Slip', 'Upload image', '369 (112)', '31', '2022', '[133][134]'], ['49', '300 Ashland', '', '364 (111)', '32', '2016', 'Also known as Brooklyn Academy of Music South (BAM South) and 286 Ashland Place.[135]'], ['50', '7 DeKalb Avenue', '', '361 (110)', '27', '2016', 'Also known as City Point Tower I[136] and 70 Fleet Street.[137]'], ['51', '141 Willoughby Street', '', '360 (110)', '24', '2022', 'Topped out in November 2021.[138] Former site of the Institute of Design and Construction.[139][140]'], ['52', '2230 Cropsey Avenue', '', '356 (109)', '30', '2023', 'Topped out in February 2023. Also known as The Shoreline.[141][142]'], ['53', 'Court and Remsen Building', '', '350 (107)', '27', '1926', 'Tallest high-rise building in Brooklyn between 1922 and 1926. Also known as the Chamber of Commerce Building.[12][143][144]'], ['54', 'BellTel Lofts', '', '348 (106)', '25', '1931', 'Also known as the New York Telephone Company Building and 101 Willoughby Street.[145][146]'], ['55', '461 Dean Street', '', '347 (106)', '32', '2016', 'Also known as B2 BKLYN.[147]'], ['56', '86 Fleet Place', '', '346 (105)', '32', '2017', '[148]'], ['57', '75 Livingston Street', '', '343 (105)', '30', '1926', 'Also known as the Brooklyn Chamber of Commerce and Court Chambers Building.[149][150][151]'], ['58', 'Tivoli Towers', '', '341 (104)', '33', '1974', '[152][153]'], ['59', '37 Blue Slip', '', '340 (104)', '30', '2018', 'Also known as One Blue Slip.[154][155]'], ['60', 'J Condominium', '', '337 (103)', '31', '2007', 'Also known as J Condo.[156][157]'], ['61', '200 Cadman Plaza', '', '333 (101)', '33', '1973', '[158]'], ['62', 'Archstone Brooklyn Heights', '', '331 (101)', '33', '2000', 'Also known as 180 Montague Street.[159]'], ['63', 'Two Northside Piers', '', '329 (100)', '30', '2009', '[160]'], ['64', '15 Metrotech Center', '', '325 (99)', '21', '2003', 'Also known as the Empire Blue Cross Blue Shield Headquarters.[161][162]'], ['65', '1524 Sheepshead Bay Road', '', '321 (98)', '28', '2018', 'Also known as 1 Brooklyn Bay, Avalon Brooklyn Bay, and 1501 Voorhies Avenue.[163][164]'], ['66', '123 Linden Boulevard', 'Upload image', '320 (98)', '26', '2020', '[165]'], ['67 =', 'St. George Towers', '', '315 (96)', '30', '1930', 'Also known as the St. George Hotel.[166][167]'], ['67 =', 'Quay Tower', 'Upload image', '315 (96)', '28', '2018', 'Also known as 50 Bridge Park Drive.[168]'], ['67 =', '550 Clinton Avenue', 'Upload image', '312 (95)', '29', '2021', '[169][170]'], ['70 =', 'Atlantic Terminal Houses 1', '', '310 (94)', '31', '1976', 'Also known as Atlantic Terminal Site 4B and 487 Carlton Avenue.[171][172]'], ['70 =', '436 Albee Square', '', '310 (94)', '28', '2017', '[173]'], ['72', '77 Commercial Street', 'Upload image', '306 (93)', '30', '2022', '[102][103][101]'], ['73', '111 Livingston Street', '', '301 (92)', '23', '1971', '[174][175]'], ['74', 'Greenpoint Block D 30 Story Tower', '', '300 (91)', '30', '2022', 'Informally known as the Tetris buildings. Alternately addressed as 221 West Street. Topped-out in April 2021.[115][116][117]'], ['75', 'The Edge – South Tower', '', '298 (91)', '30', '2009', 'Also known as The Edge I.[176][177]'], ['76', '595 Dean Street', 'Upload image', '298 (91)', '27', '2022', 'Topped out in February 2022.[178][179]'], ['77 =', 'Beacon Tower', '', '297 (91)', '23', '2007', '[180][181]'], ['77 =', 'One Northside Piers', '', '297 (91)', '29', '2008', '[182][183]'], ['77 =', '101 Clark Street', 'Upload image', '295 (90)', '30', '1973', '[184][185]'], ['77 =', '240 Willoughby Street', 'Upload image', '295 (90)', '30', '2023', 'Topped out.[186][187]']]

### 8) Turn the data you've extracted into a `pandas` `DataFrame`

In [164]:
df = pd.DataFrame(cell_textes, columns=column_names)
df

,Rank,Name[a],Image,Heightft (m),Floors,Year completed,Notes
0,1,The Brooklyn Tower,,"1,066 (325)",93,2022,Topped out in October 2021.[2][23][24][25]
1,2,Brooklyn Point,,720 (219),68,2019,The final phase of Extell's City Point develop...
2,3,11 Hoyt,,626 (191),51,2020,Topped out in June 2019.[32] A redevelopment o...
3,4,The Hub,,611 (186),52,2017,Also known as 333 Schermerhorn Street. Topped ...
4,5,98 Dekalb Avenue,Upload image,610 (186),49,2025,Topped out in June 2024.[40][41]
...,...,...,...,...,...,...,...
75,76,595 Dean Street,Upload image,298 (91),27,2022,Topped out in February 2022.[178][179]
76,77 =,Beacon Tower,,297 (91),23,2007,[180][181]
77,77 =,One Northside Piers,,297 (91),29,2008,[182][183]
78,77 =,101 Clark Street,Upload image,295 (90),30,1973,[184][185]
79,77 =,240 Willoughby Street,Upload image,295 (90),30,2023,Topped out.[186][187]

### 9) Which years are represented by at least 5 buildings?

In [165]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Rank            80 non-null     object
 1   Name[a]         80 non-null     object
 2   Image           80 non-null     object
 3   Heightft (m)    80 non-null     object
 4   Floors          80 non-null     object
 5   Year completed  80 non-null     object
 6   Notes           80 non-null     object
dtypes: object(7)
memory usage: 4.5+ KB

In [166]:
# We need to count the number of buildings for each year
year_counts = df["Year completed"].value_counts()


# Finally, we can filter the years that have at least 5 buildings
years_with_5_buildings = year_counts[year_counts >= 5]

years_with_5_buildings

Year completed
2022    11
2020     6
2016     6
2024     5
Name: count, dtype: int64

### 10) How many total floors do all the buildings have, combined?

In [167]:
# column floors to integer
df['Floors'] = df['Floors'].str.extract('(\d+)').astype(int)

# sum of floors
total_floors = df['Floors'].sum()
total_floors

2905

### 11) How many of the buildings have their own Wikipedia page?

For this, you'll need to query the row elements again; the information won't have been extracted into your `DataFrame`. 

(Hint: Whether a building has its own Wikipedia page isn't an explicit piece of data, but something you can infer from the presence of a particular sub-element.)

In [175]:
links = []
for row in row_not_header:
    cell = row.select("td")[1]  # select the second td element
    link = cell.select_one("a")  # if a link exists in cell
    if link:  # If such a link exists
        links.append(1)  # Append 1 to links, indicating a match
print(len(links))

18

In [179]:
links = 0
for row in row_not_header:
    cell = row.select("td")[1]  # select the second td element
    link = cell.select("a")  # if a link exists in cell
    if link:  # If such a link exists increment links by 1
        links += 1
print(links)

18

### 12) How many have an image?

You could do this by testing for the presence of another element:

In [180]:
# Find the index of the "Image" column
# image_index = column_names.index("Image")

# Initialize a counter
image_count = 0

# Loop over the rows
for row in row_not_header:
    # Select the cell in the "Image" column (the third column)
    cell = row.select("td")[2]
    # Check if the cell contains an image tag
    if cell.select("img"):
        image_count += 1

print(image_count)

61

Or through information that's already in your `DataFrame`:

In [170]:
# Count the number of rows where the "Image" column is not "Upload image"
image_count = (df["Image"] != "Upload image").sum()

print(image_count)

61

### Bonus challenge

If we tried to run the same code on https://en.wikipedia.org/wiki/List_of_tallest_buildings_in_New_York_City instead, the results wouldn't be quite right. Try it. Then, examining the HTML of that page, try to figure out why.

If you want an extra-extra challenge, try writing code that would parse that table correctly.

In [182]:
# Load the page
url = "https://en.wikipedia.org/wiki/List_of_tallest_buildings_in_New_York_City"
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

# Find the table - assuming it's the first table of class 'wikitable'
table = soup.find('table', {'class': 'wikitable'})

# Initialize a list to store row data
rows_list = []

# Process table headers
headers = [header.text.strip() for header in table.find_all('th')]

# Iterate over table rows
for row in table.find_all('tr'):
    cells = row.find_all(['td', 'th'])
    if cells:
        row_data = []
        for cell in cells:
            # Handle cell text and cleanup
            cell_text = cell.get_text(strip=True)
            # Optionally, handle 'rowspan'/'colspan'
            row_data.append(cell_text)
        rows_list.append(row_data)

# Convert list of rows into a DataFrame
df = pd.DataFrame(rows_list, columns=headers)
df

,Rank,Name,Image,Heightft (m),Floors[H],Year,Address,Coordinates,Notes
0,Rank,Name,Image,Heightft (m),Floors[H],Year,Address,Coordinates,Notes
1,1,One World Trade Center,,"1,776 (541)",94[A],2014,285Fulton Street,40°42′47″N74°00′49″W﻿ / ﻿40.713°N 74.0135°W﻿ /...,Also known as the Freedom Tower. Tallest build...
2,2,Central Park Tower,,"1,550 (472)",99,2021,225 West57th Street,40°45′57″N73°58′51″W﻿ / ﻿40.7659°N 73.98089°W﻿...,"Also known asNordstromTower. At 1,550 feet, it..."
3,3,111 West 57th Street,,"1,428 (435)",85,2022,111 West57th Street,40°45′52″N73°58′40″W﻿ / ﻿40.76455°N 73.97765°W...,Also known asSteinwayTower. It is the world'sm...
4,4,One Vanderbilt,,"1,401 (427)",73,2020,1Vanderbilt Avenue,40°45′11″N73°58′43″W﻿ / ﻿40.7530°N 73.9785°W﻿ ...,Second-tallest office building in NYC.[38]Tall...
...,...,...,...,...,...,...,...,...,...
105,105,1 Wall Street,,654 (199),50,1932,1Wall Street,40°42′26″N74°00′42″W﻿ / ﻿40.707222°N 74.011667...,It was formerly calledBank of New YorkBuilding...
106,106 =,599 Lexington Avenue,,653 (199),51,1986,599Lexington Avenue,40°45′28″N73°58′15″W﻿ / ﻿40.7578°N 73.9707°W﻿ ...,[247][248]
107,106 =,Silver TowersI,,653 (199),58,2009,620 West42nd Street,40°45′39″N73°59′57″W﻿ / ﻿40.760722°N 73.999194...,Also known as River Place.[249][250]
108,106 =,Silver TowersII,653 (199),58,2009,620 West42nd Street,40°45′39″N73°59′57″W﻿ / ﻿40.760722°N 73.999194...,Also known as River Place.[251][252],None
109,109,712 Fifth Avenue,,650 (198),53,1990,712Fifth Avenue,40°45′44″N73°58′30″W﻿ / ﻿40.7622°N 73.975°W﻿ /...,[253][254]

---

---

---